<div class="contact-us">
    <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <div class="form-group">
            <div class="form-control">
                <label for="email">Enter Email</label>
                <input name="email" type="email" formControlName="email">
            </div>
            <div class="form-control">
                <label for="name">Enter Name</label>
                <input name="name" type="text" formControlName="name">
            </div>
            <div class="form-control">
                <label for="about">Your Massage</label>
                <textarea name="about" type="text" formControlName="description"> </textarea>
            </div>
        </div>

    </form>

</div>