
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="d-flex align-items-center justify-content-center ">
                    <h1 class="text-center">
                        <span class="font-heading">
                            ANGULAR <span class="color-primary" > DEVELOPER </span>
                             <!-- Lomesh Yadav -->
                        </span>
                    </h1>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-primary btn-download">Hire me</button> 
                    <button  class="btn btn-secondary btn-download"> Download CV <img class="download-image" src="download.png" alt=""></button>
                </div>
            </div>
            <div class="col-lg-6 m-auto">
                <div class="mt-4 d-flex flex-column flex-sm-row gap-3 justify-content-center justify-content-md-start immage-wrapper">
                   <img src="background_image.png" alt="" class="image-base">
                    
                   <img src="Group 2346.png" alt="" class="image-top">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  m-auto">
                
                <h1>
                    About me
                </h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, assumenda ea debitis ducimus doloremque explicabo. Expedita magnam quos facere eligendi. Obcaecati culpa eaque nulla neque repudiandae soluta, amet nisi? Quam?
                </p>
            </div>
            <div class="col-lg-6 m-auto immage-wrapper">
                <!-- di -->
                <img class="img-fluid" src="doodle-items.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <app-contact-us></app-contact-us>
</section> -->
<!-- Project Section -->
<section id="project">
    <div class="project-section m-auto">
        <div class="container container-height">
            <div class="row project-section bg-transparent ">  
                <app-projects [item]="projectList()"></app-projects>
            </div>
        </div>
    </div>
</section>

<section>
    <app-footer></app-footer>
</section>