<section>
    <div class="container">
        <div class="d-flex justify-content-center set-height">
            <div class="ms-5 cursor-pointer" (click)="redirect('home')">
                <img src="home.png" alt="">
                Home
            </div>
            <div class="ms-5 cursor-pointer" (click)="redirect('about')">
                <img src="user.png" alt="">
                About Me
            </div>
            <div class="ms-5 cursor-pointer">
                <img src="phone.png" alt="">
               Contact
            </div>
        </div>
    </div>
</section>