.project-list{
    /* display: flex; */
}
/* .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
} */
.project-section{
    background-image: url("./../../../../public/doodle-items.png");
    /* background: transparent; */
    z-index: 99;
 }
 .img-fluid{
      max-width: 100%;
      height: auto;
   border-radius:15px ;
}
.project-section{
    background-image: url("./../../../../public/doodle-items.png");
    /* background: transparent; */
    z-index: 99;
 }