<!-- <div class="container">
    <div class="row">
        <div class="col-4"> col</div>
        <div class="col-4"> col</div>
        <div class="col-4"> col</div>
    </div>
</div> -->

<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">email</th>
            <th class="col">password</th>
            <th class="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of loginData let i = index">
                <th class="row">{{i+1}}</th>
                <th ><span *ngIf="!data.isEdit">{{data.email}} </span> <input *ngIf="data.isEdit" type="text" [(ngModel)]="data.email" (keyup.enter)="editBtn('save',data,i)"></th>
                <th >{{data.password}}</th>
                <th (click)="editBtn('edit',data,i)" >edit</th>
        </tr>
    </tbody>
    </table>

</div>